#quizz {
  border: 1px solid black;
  padding: 10px;
}

#question {
  margin-bottom: 10px;
  font-weight: bold;
}

#answer1 {
  font-style: italic;
}
#answer2 {
  font-style: italic;
}

#result {
  margin-top: 10px;
  font-size: 18px;
  font-weight: bold;
}
